#ignore vim swp files
*.swp
#ignore packages
*.tar.xz
#ignore java builds files
*.jar
*.war
*.swo
#ignore vagrant meta files
/boxes/vagrant/swt-group22/.vagrant
/boxes/vagrang/data/packages/*
/app/target/*
/app/bin/*
