@charset "utf-8";

p {
	font-size: 16px;
}
#cart td {
  padding-top:10px;
  padding-bottom:10px;  
}

#cart .head {
	text-align: center;
}
#cart .name {
	width: 400px;
	text-align: left;
}
#cart .quantity {
	width: 100px;
	text-align: center;
}
#cart .price {
	width: 150px;
	text-align: center;
}
#cart .change {
	width: 150px;
	text-align: center;
}
#cart .change form{
	display: inline-block;
}
#cart .change form > *{
	vertical-align:middle;
}
#cart .change form input[type=image] {
	padding: 0 0 0 10px;
}
#main-wrapper table tr{
	height: 50px;
}
#cart .delete {
	width: 150px;
	text-align: center;
}
#cart .delete form{
	display: inline-block;
}
#cart .delete form > *{
	vertical-align:middle;
}
.form {
	float: left;
	padding-right: 20px;
}