@charset "utf-8";

#main-wrapper table tr{
	height: 50px;
}

#main-wrapper table td{
	padding-right: 20px;
	padding-left: 20px;
}

#main-wrapper table th{
	padding-right: 20px;
	padding-left: 20px;
}

.form {
	float: left;
	padding-right: 20px;
}