@charset "utf-8";

.workframe {
	
}
#firstrow {
	display: flex;
	align-items: flex-start;
}
#firstcolumn img {
	width: 300px;
}
#secondcolumn h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 24px;
	text-align: left;
	font-weight: bold;
}
#secondcolumn label {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
}
#secondcolumn .description {
	text-align: justify;
}
#secondcolumn #quantities {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#secondcolumn .quantity {
	font-size: 14px;
}
#secondcolumn .quantity-selection {
	text-align: right;
	width: 350px;
}

#secondcolumn .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}
#secondcolumn .rating span {
    display: inline-block;
    position: relative;
    width:1.1em;
    font-size:1.4em;
    color: gold;
}
#secondcolumn .rating .filled:before {
    content: "\2605";
    position: absolute;
    color: gold;
    text-shadow:0 0 1px #666;
}
#secondrow {
	
}
#secondrow table { border-collapse: collapse; }

#secondrow td + td,
#secondrow th + th { border-left: 1px solid; }
#secondrow tr + tr { border-top: 1px solid; }
#comments {
	width: 100%;
}

#comments td {
	padding-top: 10px;
}

#comments .comment {
	text-align: left;
	max-width: 300px;
}

#comments .account {
	text-align: center;
}

#comments .rating {
	text-align: center;
}

#comments .time {
	text-align: center;
}