@charset "utf-8";

.content table {
	width: 600px;
}

.content table td {
	padding-right: 20px;
}

#comments {
	border: 1;
}

#comments td {
	padding-top: 10px;
}

#comments #comment {
	width: 450px;
}

#comments #rating {
	width: 50px;
}

#comments #time {
	width: 200px;
}