@charset "utf-8";

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
	font-weight: normal;
	color: #000000;
}

p {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	color: #000000;
}

h3 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

table   {
	border: 0;
}

select {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
    padding: 2px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    background-color: white;
    /*-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	background-image: url(/resources/Bilder/select-arrow.png);
  	background-position: 90% 50%;
  	background-repeat: no-repeat;
  	background-size: 15px;
  	width: 20%;*/
}

input[type=submit] {
	border:1px solid #eeeeec;
	border-radius: 2px;
	background-color: #eeeeec;
	padding: 2px 20px;
}

input[type=submit]:hover {
	background-color: lightgray;
}
option {
	background-color: white;
}

#wrapper #header {
	padding-top: 0px;
	z-index: 2;
}

.modalDialog {
	position: fixed;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	position: absolute;
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto 0 auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#main-wrapper a {
	font-size: 14px;
}

#login-modal h2 {
	float: left;
}

#login-modal .errorMessage {
	float: right;
	text-align: right;
	margin: 30px 0 0 0;
}

#passwordReset-modal h2 {
	float: left;
}

#registration-modal fieldset {
	float: left;      
	clear: both;      
	width: 100%;      
	margin: 0 0 -1em 0;      
	padding: 0 0 1em 0;      
	border-style: none;      
	border-top: 1px solid #BFBAB0;     
	/*background-color: #F2EFE9;*/
}

#registration-modal legend {      
	padding: 0;      
	color: black;           
}

#registration-modal legend span {      
	position: absolute;
	left: 1em;            
	margin-top: 0.5em; 
	margin-bottom: 0.5em;     
	font-size: 18px;     
}

#registration-modal label {
	float: left;
	width: 40%;
	margin-right:0.5em;
    padding-top:0.2em;
  	text-align:left;
}

#registration-modal fieldset ol {   
	padding: 1.5em 1em 0 1em;   
	list-style: none;  
}  
#registration-modal fieldset li {   
	padding-bottom: 0.5em;  
}

#registration-modal fieldset.submit {   
	border-style: none;
	float: none;      
	width: auto;      
	padding-top: 0.5em;      
	padding-left: 12em;       
}

#registration-modal fieldset.submit input {
	font-size: 18px;
}

#registration-modal > div {
	width: 500px;
}

#header header #header-row1 {
	width: 990px;
	padding-left: auto;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
}

#header header #header-row1 a {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 11px;
}

#header header #header-row1 ul {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#header header #header-row1 ul li {
	display: inline-block;
	margin-right: 0px;
	margin-left: 20px;
}

#header header #header-row2 {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-row2-table {
	border: 0;
	width: 970px;
}

#header-row2 table td {
	padding-left: 46px;
}

#logo {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	color: #204a87;
}

#search tbody tr td {
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#searchcolumn * {
	height: 28px;
	font-size: 14px;
}

#cart-text-list {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#cart-text-list li {
	text-align: right;
}


#cart-text-list li a {
	font-size: 11px;
}

#wrapper #navigation {
	background-color: #E1E1E1;
	-webkit-box-shadow: inset 0px 10px 10px -10px;
	box-shadow: inset 0px 10px 10px -10px;
	height: 54px;
	width: 100%;
	text-align: center;
}

nav a { text-decoration: none; }

.nav li { list-style: none; }

.nav {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500;
	margin-top: 0px;
	min-width: 915px;
	padding: 0 0 0 25px;
}
.nav > li {
	display: block;
	float: left;
}
.nav > li > a {
	position: relative;
	display: inline-block;
	z-index: 510;
	padding-top: 0;
	padding-right: 14px;
	padding-left: 14px;
	padding-bottom: 0;
	line-height: 44px;
	margin-top: 10px;
	/*-webkit-box-shadow: inset 0px 20px 20px -20px;
	box-shadow: inset 0px 20px 20px -20px;*/
}
.nav > li:hover > a {
	background: #ffffff;
	-moz-box-shadow: 0 10px 0px 0px #FFF, 5px 0 10px -9px #000, -5px 0 10px -9px #000;
	-webkit-box-shadow: 0 10px 0px 0px #FFF, 5px 0 10px -9px #000, -5px 0 10px -9px #000;
	box-shadow:  0 10px 0px 0px #FFF, 5px 0 10px -9px #000, -5px 0 10px -9px #000;
	z-index: 520;
}

.nav li .activeCategory {
	background: #ffffff;
	-moz-box-shadow: 0 10px 0px 0px #FFF, 5px 0 10px -9px #000, -5px 0 10px -9px #000;
	-webkit-box-shadow: 0 10px 0px 0px #FFF, 5px 0 10px -9px #000, -5px 0 10px -9px #000;
	box-shadow:  0 10px 0px 0px #FFF, 5px 0 10px -9px #000, -5px 0 10px -9px #000;
	z-index: 520;
}
/*
.nav > li > div {
	position: absolute;
	display: block;
	left: 0px;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background: #ffffff;
	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
	padding-left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	margin-top: 20px;
	width: 960px;
	padding-bottom: 0px;
	margin-left: 75px;
	border-left: 1px solid #B8B8B8;
	border-bottom: 1px solid #B8B8B8;
	border-right: 1px solid #B8B8B8;
	-webkit-box-shadow: 5px 5px 5px -5px #E1E1E1;
	box-shadow: 5px 5px 5px -5px #E1E1E1;
}
.nav > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.nav .nav-column {
	float: left;
	width: 20%;
	padding-top: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 2.5%;
}

.nav .nav-column h3 {
	margin: 20px 0 10px 0;
	line-height: 18px;
}
.nav .nav-column li a {
	display: block;
	line-height: 26px;
	text-align: left;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 11px;
	color: #000000;
}

.nav .nav-column li a:hover { color: #666666; }
.nav .nav-column li a:hover:before{content:"> ";color:#666666;}
*/
#mainframe {
	width: 915px;
	margin: 0 auto 0 auto;
	padding-left: 55px;
}
#path {
	display: flex;
	align-items: center;
}
#topLine {
	padding: 10px 0 20px 0;
}
#path #home {
	width: 20px;
}

#path #breadcrumb {
	width: 8px;
	opacity: 0.6;
	padding: 0 10px 0 10px;
}

#wrapper #footer {
	background-color: #E1E1E1;
	-webkit-box-shadow: inset 0 20px 20px -20px;
	box-shadow: inset 0 20px 20px -20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
	float: left;
	margin-top: 20px;
}

#footer footer a {
	font-size: 11px;
}

#footer footer h2 {
	font-size: 16px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: normal;
}

#footer footer hr   {
	border: 1px solid #BEBEBE;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.footerrow {
	width: 950px;
	display: inline-block;
	list-style-type: none;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 45px;
}

.footerrow .footercolumn {
	width: 22%;
	float: left;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.footerrow .footercolumn li {
	text-align: left;
	margin-right: 15%;
}

.footerrow .footercolumn h2 {
	text-align: center;
}

.footerrow .footercolumn ul {
	list-style-type: none;
	text-align: left;
}

#newsletter {
	padding-left: 0px;
	margin-left: -15px;
	text-align: center;
}

#newsletter table {
	border: 0;
}

#newsletter tbody tr td {
	white-space: nowrap;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	left: 60px;
}

#newslettercolumn * {
	height: 25px;
	font-size: 14px;
}

#phone {
	font-size: 16px !important;
	font-weight: bold;
}

#footer footer #bottomline {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

footer #bottomline hr {
	margin-left: 30px;

}

#bottomline ul {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 0px;

}

#bottomline ul li {
	display: inline-block;
	width: 20%;
	padding-top: 0px;
	padding-right: 2.5%px;
	padding-left: 2.5%px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: center;
}

#bottomline .bottomline-line {
	width: 925px;
	margin-left: 65px;
}

#bottemline2 {
	display: block;
	width: 1000px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	padding-right: 30px;
}

#wrapper main #main-wrapper {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
}