<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Mitarbeiterverwaltung</title>
<link href="/resources/css/main.css" rel="stylesheet" type="text/css">
<link href="/resources/css/employee.css" rel="stylesheet" type="text/css">
<link href="/resources/css/bootstrap.min.css" rel="stylesheet" type=text/css>
<link href="/resources/css/bootstrap-theme.min.css" rel="stylesheet" type=text/css>
<link href="/resources/js/bootstrap.min.js" rel="stylesheet" type=text/css>
<script src="/resources/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('label.tree-toggler').click(function() {
			$(this).parent().children('ul.tree').toggle(300);
		});
	});
</script>
</head>

<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>
		<main>
		<div id="workframe">
			<ul>
				<li style="float: left;">
					<div class="btn-group-vertical" role="group">
						<button type="button" class="btn btn-primary" onclick="self.location.href = this.getAttribute('href');" >Mitarbeiter bearbeiten</button>
						<button type="button" class="btn btn-default" onclick="self.location.href = this.getAttribute('href');" href="/management/addUser">Mitarbeiter hinzuf&uuml;gen</button>
						
					</div>
				</li>
				<li><div id="mainframe" class="panel panel-default">
						
							<form action = "/management/addUser1" method="post">
								<label>Name</label>
								<input type="text" name ="name" />
								<label>Passwort</label>
								<input type="text" name ="password" />
								<label>Rolle</label>
								<select name="role" size="1">
									<option>ROLE_EMPLOYEE</option>
								</select>
								<input type="submit" value="Mitarbeiter erstellen" />
							</form>
					</div></li>
			</ul>
		</div>
		</main>
		<br>

		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>