<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Main Page</title>
<script src="/resources/script/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/resources/script/bootstrap.min.js" type="text/javascript"></script>
<link href="/resources/css/main.css" rel="stylesheet" type=text/css>
<link href="/resources/css/admin.css" rel="stylesheet" type="text/css">

</head>
<body th:fragment="adminnavigation">
	<a class="adminnavigationelement" href="/admin/changeuser"><p>Userverwaltung</p></a>
	<a class="adminnavigationelement" href="/admin/balance"><p>Bilanzen</p></a>
	<a class="adminnavigationelement" href="/admin/statistics"><p>Statistiken</p></a>
	<a class="adminnavigationelement" href="/admin/lottery"><p>Gewinnspiel</p></a>
</body>
</html>