<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Main Page</title>
<link href="/resources/css/main.css" rel="stylesheet" type=text/css>
<link href="/resources/css/cart.css" rel="stylesheet" type=text/css>

</head>

<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>
		<main>
		<div id="mainframe">
			<div id="topLine">
				<div id="path">
					<a href="/"><img id="home" src="/resources/Bilder/home.png" /></a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" />
					<a>Warenkorb</a>
				</div>
			</div>
			<div id="workframe">
				<table th:unless="${cart.empty}" id="cart">
					<tbody >
						<tr>
							<td class="head"><a>Name</a></td>
							<td class="head"><a>Anzahl</a></td>
							<td class="head"><a>Preis</a></td>
							<td class="head"><a>Anzahl ändern</a></td>
							<td class="head"><a>Entfernen</a></td>
						</tr>
						<tr th:each="item : ${cart} ">
							<td class="name"><a th:text="${item.productName}">Name</a></td>
							<td class="quantity"><a th:text="${item.quantity}">Anzahl</a></td>
							<td class="price"><a th:text="${item.price}">Preis</a></td>
							<td class="change">
								<form action="changeAmount" method="post">
									<input type="hidden" name="cid" th:value="${item.identifier}" />
									<select name="amount" id="dropdown" size="1">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
									<input type="image" src="/resources/Bilder/update.png" value="Anzahl ändern" width="25px"/>
								</form>
							</td>
							<td class="delete">
								<form action="deleteItem" method="post">
									<input type="hidden" name="cid" th:value="${item.identifier}" />
									<input type="image" src="/resources/Bilder/cancel.png" value="Artikel entfernen" width="25px"/>
								</form>
							</td>
						</tr>
					</tbody>
				</table>

				<p th:text="'Summe: ' + ${cart.price}">Summe</p>
				<p th:if="${cart.empty}">Leer</p>
	
				<div>
					<form class="form" method="post" action="orderdata/1">
						<input type="submit" th:value="Bezahlen" value="kaufen" />
					</form>
				</div>
				<div>
					<form class="form" action="clearCart" method="post">
						<input type="submit" value="Warenkorb leeren" />
					</form>
				</div>
			</div>
		</div>
		</main>
		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>