<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<title>Katalog</title>
<link href="/resources/css/main.css" rel="stylesheet" type=text/css>
<link href="/resources/css/catalog.css" rel="stylesheet" type=text/css>
<script src="/resources/script/jquery.min.js" type="text/javascript"></script>
<script src="/resources/script/pagenumber.js" type="text/javascript"></script>
<script src="/resources/script/jquery.dotdotdot.min.js" type="text/javascript"></script>
<script th:inline="javascript">
  $(document).ready(function(){
  		$('.description').dotdotdot({
  			ellipsis: '... ',
  			wrap: 'word',
  			watch: "window",
  			height: 90
  		});
  		$('.description-thumbnail').dotdotdot({
  			ellipsis: '... ',
  			wrap: 'word',
  			watch: "window",
  			height: 20
  		});
  		var pagenumber = [[${number}]];
		var sites = [[${sites}]];
  		
  		if (pagenumber == 1){
  			document.getElementById("backward-last").href = "";
  			document.getElementById("backward").href = "";
  		}
  		if (pagenumber == sites){
  			document.getElementById("forward-last").href = "";
  			document.getElementById("forward").href = "";
  		}
  		
  });
</script>


</head>

<body>
	<div id="wrapper">

		<div id="header" th:include="navigation :: navigation"></div>
		<main>
		<div id="mainframe">
			<div id="topLine">
				<div id="path">
					<a href="/"><img id="home" src="/resources/Bilder/home.png" /></a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" />
					<a th:if="${category != null}" th:text="@{${category}}">Home &gt;</a>
					<a th:if="${category == null}" th:text="@{'Suche'+ ' > ' +${search}}">Home &gt;</a>
				</div>
			</div>

			<div id="workframe">
				<!-- <div id="catalognavigaton">
					<a th:each="category: ${allCategory}"
						th:href="@{'/catalog/'+${category}}">
						<h1 th:text="${category}"></h1>
					</a>
				</div> -->
				<div id="catalogview" th:switch="${representation}">
					<hr/>
					<div id="pageControl">
						<div id="articlesPerPage">
							<form method="post" th:if="${split != null}"
							th:action="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${number}+'/changedSetting'}">
								<fieldset>
									<label for="total">Artikel pro Seite:</label> <select
										onchange="this.form.submit()" name="total" id="total"
										th:value="(${split} < ${maximum} ? ${split} : ${maximum})">
										<option th:each="number : ${quantities}" th:text="${number}"
											th:value="${number}"></option>
									</select>
								</fieldset>
								<fieldset>
									<select onchange="this.form.submit()" name="sort" id="sort">
										<option selected="true" style="display:none;">Sortieren nach</option>
										<option value="name,asc">Name, aufsteigend</option>
										<option value="name,desc">Name, absteigend</option>
										<option value="price,asc">Preis, aufsteigend</option>
										<option value="price,desc">Preis, absteigend</option>
									</select>
								</fieldset>
							</form>
						</div>
						<div id="articleRepresentation">
							<a th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+'1/'+${split}+'/'+${number}}">
								<img src="/resources/Bilder/details.png" />
							</a>
							<a th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+'2/'+${split}+'/'+${number}}">
								<img src="/resources/Bilder/thumbnails.png" />
							</a>
						</div>
						<div id="catalogSite">
							<ul>
								<li><a th:text="@{'Artikel '+${split * (number-1) + 1}+' bis '+${split * number}}+' von '+${maximum}"></a></li>
								<li>
									<a id="backward-last" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/1'}">
										<img src="/resources/Bilder/backward-last.png" />
									</a>
								</li>
								<li>
									<a id="backward" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${number-1}}">
										<img src="/resources/Bilder/backward.png" />
									</a>
								</li>
								<li th:each="number:${numbers}">
									<a class="articlePages" th:if="${category == null}"	th:text="${number}" th:href="@{'/sufu/'+${search}+'/'+${number}}"></a>
									<a class="articlePages" th:if="${category != null}"	th:text="${number}" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${number}}"></a>
								</li>
								<li>
									<a id="forward" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${number+1}}">
										<img src="/resources/Bilder/forward.png" />
									</a>
								</li>
								<li>
									<a id="forward-last" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${sites}}">
										<img src="/resources/Bilder/forward-last.png" />
									</a>
								</li>
							</ul>
						</div>
					</div>
					<hr/>
					<ul id="articlelist" th:case="1">

						<li class="article" th:each="concreteproduct : ${prods}">
							<a th:href="@{'/detail/'+${concreteproduct.identifier}}">
								<h1 th:text="${concreteproduct.name}" class="name"></h1>
							</a>
							<div class="flex-container">
								<div id="firstcolumn">
									<a th:href="@{'/detail/'+${concreteproduct.identifier}}" >
										<img class="picture" th:src="@{'/resources/Bilder/Produkte/' + ${concreteproduct.imagefile}}" />
									</a>
								</div>
								<div id="secondcolumn">
									<div class="clamping-container">
										<p class="description" th:text="${concreteproduct.description}">Beschreibung</p>
									</div>
									<div class="rating">
										<span class="filled" th:each="i : ${concreteproduct.rating}">☆</span>
									</div>
									<a th:text="${concreteproduct.ratings}+' Bewertung(en)'"></a>
									<a class="price" th:text="${concreteproduct.priceFloat}"></a>
								</div>
							</div>
							</li>
					</ul>
					
					<ul id="articlelist-thumbnail" th:case="2">
						<li class="article" th:each="concreteproduct : ${prods}">
							<div class="article-container">
							<a th:href="@{'/detail/'+${concreteproduct.identifier}}" >
								<img class="picture-thumbnail" th:src="@{'/resources/Bilder/Produkte/' + ${concreteproduct.imagefile}}"/>
							</a>
							<div class="name-container-thumbnail">
								<a th:href="@{'/detail/'+${concreteproduct.identifier}}">
									<h1 th:text="${concreteproduct.name}" class="name-thumbnail"></h1>
								</a>
							</div>
							<div class="rating">
								<span class="filled" th:each="i : ${concreteproduct.rating}">☆</span>
							</div>
							<a th:text="${concreteproduct.ratings}+' Bewertung(en)'"></a>
							<a class="price-thumbnail" th:text="${concreteproduct.priceFloat}"></a>
							</div>
						</li>
					</ul>
					
					<hr/>
					<div id="pageControl">
						<div id="articlesPerPage">
							<form method="post" th:if="${split != null}"
							th:action="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${number}+'/changedSetting'}">
								<fieldset>
									<label for="total">Artikel pro Seite:</label> <select
										onchange="this.form.submit()" name="total" id="total"
										th:value="(${split} < ${maximum} ? ${split} : ${maximum})">
										<option th:each="number : ${quantities}" th:text="${number}"
											th:value="${number}"></option>
									</select>
								</fieldset>
								<fieldset>
									<select onchange="this.form.submit()" name="sort" id="sort">
										<option selected="true" style="display:none;">Sortieren nach</option>
										<option value="name,asc">Name, aufsteigend</option>
										<option value="name,desc">Name, absteigend</option>
										<option value="price,asc">Preis, aufsteigend</option>
										<option value="price,desc">Preis, absteigend</option>
									</select>
								</fieldset>
							</form>
						</div>
						<div id="articleRepresentation">
							<a th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+'1/'+${split}+'/'+${number}}">
								<img src="/resources/Bilder/details.png" />
							</a>
							<a th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+'2/'+${split}+'/'+${number}}">
								<img src="/resources/Bilder/thumbnails.png" />
							</a>
						</div>
						<div id="catalogSite">
							<ul>
								<li><a th:text="@{'Artikel '+${split * (number-1) + 1}+' bis '+${split * number}}+' von '+${maximum}"></a></li>
								<li>
									<a id="backward-last" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/1'}">
										<img src="/resources/Bilder/backward-last.png" />
									</a>
								</li>
								<li>
									<a id="backward" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${number-1}}">
										<img src="/resources/Bilder/backward.png" />
									</a>
								</li>
								<li th:each="number:${numbers}">
									<a class="articlePages" th:if="${category == null}"	th:text="${number}" th:href="@{'/sufu/'+${search}+'/'+${number}}"></a>
									<a class="articlePages" th:if="${category != null}"	th:text="${number}" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${number}}"></a>
								</li>
								<li>
									<a id="forward" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${number+1}}">
										<img src="/resources/Bilder/forward.png" />
									</a>
								</li>
								<li>
									<a id="forward-last" th:href="@{'/catalog/'+${category}+'/'+${sort}+'/'+${representation}+'/'+${split}+'/'+${sites}}">
										<img src="/resources/Bilder/forward-last.png" />
									</a>
								</li>
							</ul>
						</div>
					</div>
					<hr/>
				</div>
			</div>
			

		</div>

		</main>
		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>
