<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Artikelverwaltung</title>
<link href="/resources/css/main.css" rel="stylesheet" type="text/css">
<link href="/resources/css/admin.css" rel="stylesheet" type="text/css">

<link href="/resources/js/bootstrap.min.js" rel="stylesheet" type=text/css>
<script src="/resources/js/jquery.min.js" type="text/javascript"></script>
<script src="/resources/script/emplyeenavigation.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('label.tree-toggler').click(function() {
			$(this).parent().children('ul.tree').toggle(300);
		});
		document.getElementById("mainframe").style.height = "460px";
		
	});
</script>
</head>

<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>
		<br>
		<main>
		<div id="mainframe">
			<div id="adminnavigaton" th:include="adminnavigation :: adminnavigation"></div>
			
			<div id="workframe">
				<form id="newuser" class="userform" th:action="@{'/admin/changeuser/addedUser'}" method="POST" enctype="multipart/form-data" onsubmit='return checkForm();'>
					<ol>
						<li>		
								<label for="name">Name: </label>
								<input type="text" name="username" id="namefield" placeholder="Name" required/>
						</li>
						<li>		
								<label for="password">Passwort: </label>
								<input type="password" name="password" id="passwordfield" placeholder="Passwort" required/>
						</li>
						<li>
								<label for="role">Rolle: </label>
								<select name="rolename" id="rolefield" size="1">
									<option value="ROLE_EMPLOYEE">Mitarbeiter</option>
									<option value="ROLE_ADMIN">Administrator</option>
								</select>
						</li>
					</ol>
					<input type="submit" id="submitfield" value="Neuen User erstellen" />	
				</form>	
			</div>

		</div>
		</main>
		<br>

		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>

