<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Artikelverwaltung</title>
<link href="/resources/css/main.css" rel="stylesheet" type="text/css">
<link href="/resources/css/employee.css" rel="stylesheet" type="text/css">
<link href="/resources/css/bootstrap.css" rel="stylesheet" type=text/css>
<link href="/resources/css/bootstrap-theme.css" rel="stylesheet" type=text/css>
<style type="text/css">
/*
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}*/
td {
	margin: 0px 5px;
}
</style>
</head>

<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>
		<main>
		<div id="workframe">
			<ul>
				<li>
					<div id="optionscolumn">
						<ul>
							<li><a th:href="@{'/management'}" class="activeoption">Katalog bearbeiten</a></li>
							<li><a th:href="@{'/management/stock'}">Lagerbestand</a></li>
							<li><a th:href="@{'/management/ratings'}">Bewertungen</a></li>
						</ul>
					</div>
				</li>
				<li><div id="mainframe">
						<div id="catalogheader">
							<ul class="nav">
								<li><a>Neuen Artikel hinzufügen</a></li>
							</ul>
						</div>
						<table>
							<thead>
								<tr>
									<th><a>Name</a></th>
									<th><a>Bild</a></th>
									<th><a>Preis</a></th>
									<th><a>bearbeiten</a></th>
								</tr>
							</thead>
							<tbody>
								<tr class="article" th:each="concreteproduct : ${prod50}">
									<td><a th:text="${concreteproduct.name}" class="name" title="Artikel in Katalog anzeigen" th:href="@{'/detail/'+${concreteproduct.identifier}}"></a></td>
									<td><img class="picture" th:href="@{'/detail/'+${concreteproduct.identifier}}" th:src="@{'/resources/img/' + ${concreteproduct.name} + '.jpg'}" height="30" /></td>
									<td><p class="price" th:text="${concreteproduct.price}" /></td>
									<td><a th:href="@{'management/editArticle/'+${concreteproduct.identifier}}" class="button">bearbeiten</a></td>
									<td><a th:href="@{'management/deleteArticle/'+${concreteproduct.identifier}}" class="button">l&ouml;schen</a></td>
								</tr>
							</tbody>
						</table>
					</div></li>
			</ul>
		</div>
		</main>
		<br>

		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>

