<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Artikelverwaltung</title>
<link href="/resources/css/main.css" rel="stylesheet" type="text/css">
<link href="/resources/css/employee.css" rel="stylesheet" type="text/css">
<script src="/resources/script/jquery.min.js" type="text/javascript"></script>
</head>

<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>

		<main>
		<div id="mainframe">
			<div id="topLine">
				<div id="path">
					<a href="/"><img id="home" src="/resources/Bilder/home.png" /></a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" />
					<a href="/employee" >Mitarbeiterportal</a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" />
					<a href="/employee/changecatalog" >Katalog/Lager</a>
				</div>
			</div>
			
			<div id="workframe">
				
				<table>
					<tbody>
						<tr>
							<td><a>Name</a></td>
							<td><a>Bild</a></td>
							<td><a>Preis</a></td>
							<td><a>Menge</a></td>
							<td><a>Bearbeiten</a></td>
						</tr>
						<tr class="article" th:each="concreteproduct : ${prod50}">
							<td class="name" ><a target="newtab" th:text="${concreteproduct.name}" title="Artikel in Katalog anzeigen" th:href="@{'/detail/'+${concreteproduct.identifier}}"></a></td>
							<td class="picture" ><img  th:href="@{'/detail/'+${concreteproduct.identifier}}" th:src="@{'/resources/Bilder/Produkte/' + ${concreteproduct.imagefile}}"/></td>
							<td class="price" ><a  th:text="${concreteproduct.priceFloat}"></a></td>
							<td class="quantity"><a  th:text="${concreteproduct.getQuantity(inventory)}"></a></td>
							<td class="btn-group" >
								<div  role="group">
									<button type="button" onclick="self.location.href = this.getAttribute('href');" th:href="@{'/employee/changecatalog/editArticle/'+${concreteproduct.identifier}}" class="edit-button" title="Edit Article"></button>
									<button type="button" onclick="self.location.href = this.getAttribute('href');" th:href="@{'/employee/changecatalog/deleteArticle/'+${concreteproduct.identifier}}" class="trash-button" title="Delete Article"></button>
									<button type="button" onclick="self.location.href = this.getAttribute('href');" th:href="@{'/employee/changecatalog/orderArticle/'+${concreteproduct.identifier}}" class="order-button" title="Order Article"></button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
				<button id="newarticle" type="button" onclick="self.location.href = this.getAttribute('href');" href="/employee/changecatalog/addArticle">Neuen Artikel hinzufügen</button>
				</div>
			</div>

		</div>
		</main>

		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>

