<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Main Page</title>
<script src="/resources/script/jquery-1.11.2.min.js"
	type="text/javascript"></script>
<script src="/resources/script/bootstrap.min.js" type="text/javascript"></script>
<link href="/resources/css/main.css" rel="stylesheet" type=text/css>
<script src="http://use.edgefonts.net/clara:n4:default.js"
	type="text/javascript"></script>

</head>
<li sec:authorize="!isAuthenticated()" class="loginlogout"><a
	th:href="@{/login}" th:text="#{nav.login}">Login</a></li>

<li sec:authorize="isAuthenticated()" class="loginlogout">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" th:value="#{nav.logout}" />
	</form>
</li>
<body th:fragment="navigation">

	<div id="header">
		<header>

			<div id="login-modal" class="modalDialog">
				<div>
					<a href="#close" title="Close" class="close">X</a>
					<h2>Anmeldung</h2>
					<form method="post" th:action="@{/login}">
						<fieldset>
							<label for="login-name">E-Mail Adresse:</label><br /> <input
								type="text" id="username" name="username" value="" /><br /> <label
								for="login-password">Passwort:</label><br /> <input
								type="password" id="password" name="password" value="" /><br />
							<input type="submit" value="Anmelden" /> <a href="#"><label
								for="login-password">Passwort vergessen?</label></a>
						</fieldset>
					</form>
				</div>
			</div>

			<div id="registration-modal" class="modalDialog">
				<div>
					<a href="#close" title="Close" class="close">X</a>
					<h2>Registrierung</h2>
					<form method="post" th:action="@{/registerNew}">
						<fieldset>

							<legend><span>Kontaktdetails</span></legend>
							<ol>
								<li>
									<label for="name">Name:</label>
									<input type="text" id="name" name="name" value="" />
								</li>
								<li>
									<label for="login-name">E-Mail Adresse:</label>
									<input type="text" id="username" name="username" value="" />
								</li>
							</ol>
						</fieldset>
						<fieldset>
							<legend><span>Login Daten</span></legend>
							<ol>
								<li>
									<label for="login-password">Passwort:</label>
									<input type="password" id="password" name="password" value="" />
								</li>
								<li>
									<label for="login-password-repeat">Passwort:</label>
									<input type="password" id="password-repeat" name="password-repeat" value="" />
								</li>
							</ol>
						</fieldset>
						<fieldset>
							<legend><span>Adresse</span></legend>
							<ol>
								<li>
									<label for="adress1">Adresszeile 1:</label>
									<input type="text" id="adress1" name="adress1" value="" />
								</li>
								<li>
									<label for="adress2">Adresszeile 2:</label>
									<input type="text" id="adress2" name="adress2" value="" />
								</li>
								<li>
									<label for="town">Stadt:</label>
									<input type="text" id="town" name="town" value="" />
								</li>
								<li>
									<label for="postcode">Postleitzahl:</label>
									<input type="text" id="postcode" name="postcode" value="" />
								</li>
							</ol>
						</fieldset>
						<fieldset class="submit">
							<input type="submit" value="Registrieren" />
						</fieldset>
					</form>
				</div>
			</div>
			
			<div id="header-row1">
				<ul>
					<li sec:authorize="isAuthenticated()"><a>Herzlich Willkommen</a></li>
					<li sec:authorize="!isAuthenticated()"><a href="#login-modal">Anmelden</a></li>
					<li sec:authorize="!isAuthenticated()"><a href="#registration-modal">Registrieren</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{'/logout'}">Ausloggen</a></li>
					<li sec:authorize="hasRole('ROLE_CUSTOMER')"><a>Service</a></li>
					<li sec:authorize="hasRole('ROLE_CUSTOMER')"><a>Punktestand</a></li>
					<li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a th:href="@{/employee}">Mitarbeiterportal</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{'/login'}">Mein Konto</a></li>
				</ul>
			</div>
				

			<div id="header-row2">
				<table id="header-row2-table">
					<tbody>
						<tr>
							<td><a th:href="@{'/'}" id="logo">Woods Super Dooper
									Shop</a></td>
							<td>
								<div id="searchfield">
									<form id="search" method="post" th:action="@{'/sufu'+'/1'}">
										<table>
											<tbody>
												<tr id="searchcolumn">
													<td><input type="search" id="search" name="search"
														value="Suchbegriff" onFocus="value=''" /></td>
													<td><input type="submit" value="suchen" /></td>
													<!--  <td><input type="submit" src="/resources/Bilder/search.png" alt="Suche_Icon" /></td>-->

												</tr>
											</tbody>
										</table>
									</form>
								</div>
							</td>
							<td>
								<table>
									<tbody>
										<tr>
											<td><a th:href="@{'/cart'}"><img
													src="/resources/Bilder/warenkorb_icon_dark.png" height="50"
													alt="" /></a></td>
											<td>
												<ul id="cart-text-list">
													<li sec:authorize="hasRole('ROLE_CUSTOMER')"><a>0
															Artikel</a></li>
													<li sec:authorize="hasRole('ROLE_CUSTOMER')"><a
														th:href="@{'/catalog/default'}">Summe</a></li>
													<li sec:authorize="hasRole('ROLE_CUSTOMER')"><a
														th:href="@{'/cart'}">Zum Warenkorb</a></li>
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</header>
	</div>
	<div id="navigation">
		<ul class="nav">
			<li th:each="c : ${categories}">
			<a th:href="@{'/catalog/'+${c}+'/1'}" th:text="${c}">test</a>
				<div></div></li>
		</ul>
	</div>
</body>
</html>
