<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Newsletter</title>
<link href="/resources/css/main.css" rel="stylesheet" type="text/css">
<link href="/resources/css/employee.css" rel="stylesheet"
	type="text/css">
<script src="/resources/script/jquery.min.js" type="text/javascript"></script>
</head>

<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>

		<main>
		<div id="mainframe">
			<div id="topLine">
				<div id="path">
					<a href="/"><img id="home" src="/resources/Bilder/home.png" /></a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" /> <a
						href="/employee">Mitarbeiterportal</a> <img id="breadcrumb"
						src="/resources/Bilder/forward.png" /> <a
						href="/employee/newsletter">Newsletter</a>
				</div>
			</div>

			<div id="workframe" style="flex-direction: row; flex-wrap: wrap">
				<form id="sendNewsletter"
					action="/employee/newsletter/sendNewsletter" method="post">
					<select size="1" name="newsletter">
						<option th:value="${newsletter.getId()}"
							th:each="newsletter : ${newsletters}"
							th:text="@{'Newsletter erstellt am: '+${newsletter.dateCreated}}"></option>
					</select> <input type="submit" value="Newsletter anzeigen"
						formaction="/employee/newsletter/newsletter/view" /> <input
						type="submit" value="Newsletter versenden"
						formaction="/employee/newsletter/newsletter/send" />

				</form>
				<button id="newNewsletter"
					onclick="window.location.href='/employee/newsletter/newNewsletter'">Neuen
					Newsletter erstellen</button>
				
				<div id="mailingList">
					<p>Mailingliste für den Newsletter:</p>
					<ul >
						<li th:each="entry : ${mailingList}" >
							<a th:text="${entry.key}"></a>
						</li>
					</ul>
				</div>
				<!--  
				<table>
					<tbody>
						<tr>
							<td><a>Name</a></td>
							<td><a>Email</a></td>
							<td><a>Entfernen</a></td>
						</tr>
						<tr class="user" th:each="user : ${newsUser}">
							<td><span th:text="${user.key}" class="name"></span></td>
							<td><span th:text="${user.value}"></span></td>
							<td>
								<div class="btn-group" role="group">
									<button type="button"
										onclick="self.location.href = this.getAttribute('href');"
										th:href="@{'/employee/newsletter/deleteUserAbo/'+${user.value}+'/'+${user.key}}"
										class="delete-button" title="User aus Abo entfernen"></button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<button id="oldNewsletter" type="button"
						onclick="self.location.href = this.getAttribute('href');"
						href="/employee/newsletter/oldAbos">Alte Newsletter</button>
				</div>
				<div>
					<button id="newNewsletter" type="button"
						onclick="self.location.href = this.getAttribute('href');"
						href="/employee/newsletter/changeNewsletter">Neuen
						Newsletter versenden</button>
				</div>-->
			</div>

		</div>
		</main>

		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>

