<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Artikelverwaltung</title>
<link href="/resources/css/main.css" rel="stylesheet" type="text/css">
<link href="/resources/css/employee.css" rel="stylesheet" type="text/css">

<link href="/resources/js/bootstrap.min.js" rel="stylesheet" type=text/css>
<script src="/resources/js/jquery.min.js" type="text/javascript"></script>
<script src="/resources/script/emplyeenavigation.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('label.tree-toggler').click(function() {
			$(this).parent().children('ul.tree').toggle(300);
		});
		
	});
</script>
</head>

<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>

		<main>
		<div id="mainframe">
			<div id="topLine">
				<div id="path">
					<a href="/"><img id="home" src="/resources/Bilder/home.png" /></a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" />
					<a href="/employee" >Mitarbeiterportal</a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" />
					<a href="/employee/newsletter" >Newsletter</a>
				</div>
			</div>
			
			<div id="workframe">
				
				<table>
					<tbody>
						<tr>
							<td><a>Name</a></td>
							<td><a>Email</a></td>
							<td><a>Entfernen</a></td>
						</tr>
						<tr class="user" th:each="user : ${newsUser}">
							<td ><span th:text="${user.key}" class="name"></span></td>
							<td ><span th:text="${user.value}"></span></td>
							<td>
								<div class="btn-group" role="group">
									<button type="button" onclick="self.location.href = this.getAttribute('href');" th:href="@{'/employee/newsletter/deleteUserAbo/'+${user.value}+'/'+${user.key}}" class="delete-button" title="User aus Abo entfernen"></button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
				<button id="oldNewsletter" type="button" onclick="self.location.href = this.getAttribute('href');" href="/employee/newsletter/oldAbos">Alte Newsletter</button>
				</div>
				<div>
				<button id="newNewsletter" type="button" onclick="self.location.href = this.getAttribute('href');" href="/employee/newsletter/changeNewsletter">Neuen Newsletter versenden</button>
				</div>
			</div>

		</div>
		</main>

		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>

