<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Main Page</title>
<script src="/resources/script/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/resources/script/bootstrap.min.js" type="text/javascript"></script>
<link href="/resources/css/main.css" rel="stylesheet" type=text/css>
<link href="/resources/css/employee.css" rel="stylesheet" type=text/css>
<script src="http://use.edgefonts.net/clara:n4:default.js" type="text/javascript"></script>

</head>
<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>

		<main>
		<div id="mainframe">
			<div id="topLine">
				<div id="path">
					<a href="/"><img id="home" src="/resources/Bilder/home.png" /></a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" />
					<a href="/employee" >Mitarbeiterportal</a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" />
					<a href="/employee/orders" >Bestellungen</a>
					<img id="breadcrumb" src="/resources/Bilder/forward.png" />
					<a >Details zur Bestellung</a>
				</div>
			</div>
			
			<div id="workframe">
				<h2 id="orderUser" th:text="@{'Bestellung von '+${order.getUser().getUsername()}}">Account:</h2>
				<table class="article">
					<tr>
						<td><a>Name</a></td>
						<td><a>Preis</a></td>
						<td><a>Anzahl</a></td>
					<tr th:each="orderLine : ${orderLines}">
						<td class="name" style="max-width: 600px"><a th:href="@{'/detail/'+${orderLine.key.getProductIdentifier()}}" th:text="${orderLine.key.getProductName()}">Name</a></td>
						<td><a th:text="${orderLine.value}">Preis</a></td>
						<td><a th:text="${orderLine.key.getQuantity()}">Anzahl</a></td>
					</tr>
				</table>
				
				<p th:text="@{'Preis der Bestellung: '+${totalPrice}}">Preis: </p>
				<p th:text="@{'Kunde der Bestellung: '+${order.getUser().getUsername()}}">Kunde: </p>
				<p th:text="@{'Status der Bestellung: '+${order.getStatus()}}">Status: </p>
				<form id="orderData">
					<fieldset class="orderDataGroup">
						<h2>Versandadresse:</h2>
						<ol id="shippingData" class="paymentData">
							<li>
								<label for="shippingGender">Anrede:</label>
								<select name="shippingGender">
									<option value="Herr">Herr</option>
									<option value="Frau">Frau</option>
								</select>
							</li>
							<li>
								<label for="shippingFirstName">Vorname:</label>
								<input type="text" th:value="${order.getShippingFirstName()}" name="shippingFirstName" disabled/>
							</li>
							<li>
								<label for="shippingLastNamer">Nachname:</label>
								<input type="text" th:value="${order.getShippingLastName()}" name="shippingLastName" disabled/>
							</li>
							<li>
								<label for="shippingStreet">Straße:</label>
								<input type="text" th:value="${order.getShippingStreet()}" name="shippingStreet" disabled/>
							</li>
							<li>
								<label for="shippingHouseNumber">Hausnummer:</label>
								<input type="text" th:value="${order.getShippingHouseNumber()}"  name="shippingHouseNumber" disabled/>
							</li>
							<li>
								<label for="shippingAddressLine2">Adresszusatz:</label>
								<input type="text" th:value="${order.getShippingAddressLine2()}" name="shippingAddressLine2" disabled/>
							</li>
							<li>
								<label for="shippingZipCode">Postleitzahl:</label>
								<input type="text" th:value="${order.getShippingZipCode()}" name="shippingZipCode" disabled/>
							</li>
							<li>
								<label for="shippingTown">Adresszusatz:</label>
								<input type="text" th:value="${order.getShippingTown()}" name="shippingTown" disabled/>
							</li>
						</ol>
					</fieldset>
					<fieldset>
						<h2>Rechnungsadresse:</h2>
						<ol id="billingData" class="paymentData">
							<li>
								<label for="billingGender">Anrede:</label>
								<select name="billingGender">
									<option value="Herr">Herr</option>
									<option value="Frau">Frau</option>
								</select>
							</li>
							<li>
								<label for="billingFirstName">Vorname:</label>
								<input type="text" th:value="${order.getBillingFirstName()}" name="billingFirstName" disabled/>
							</li>
							<li>
								<label for="billingLastNamer">Nachname:</label>
								<input type="text" th:value="${order.getBillingLastName()}" name="billingLastName" disabled/>
							</li>
							<li>
								<label for="billingStreet">Straße:</label>
								<input type="text" th:value="${order.getBillingStreet()}" name="billingStreet" disabled/>
							</li>
							<li>
								<label for="billingHouseNumber">Hausnummer:</label>
								<input type="text" th:value="${order.getBillingHouseNumber()}" name="billingHouseNumber" disabled/>
							</li>
							<li>
								<label for="billingAddressLine2">Adresszusatz:</label>
								<input type="text" th:value="${order.getBillingAddressLine2()}" name="billingAddressLine2" disabled/>
							</li>
							<li>
								<label for="billingZipCode">Postleitzahl:</label>
								<input type="text" th:value="${order.getBillingZipCode()}" name="billingZipCode" disabled/>
							</li>
							<li>
								<label for="billingTown">Adresszusatz:</label>
								<input type="text" th:value="${order.getBillingTown()}" name="billingTown" disabled/>
							</li>
						</ol>
					</fieldset>
				</form>
			</div>
		<div>
		</main>
		<div id="footer" th:include="footer :: footer"></div>
	</div>

</body>
</html>
