<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <script src="/resources/script/jquery.min.js" type="text/javascript"></script>
  <script src="/resources/script/bootstrap.min.js" type="text/javascript"></script>
  <link href="/resources/css/main.css" rel="stylesheet" type=text/css>
  <link href="/resources/css/paymethod.css" rel="stylesheet" type=text/css>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript">
  
  $(function() {
	    $( "#datepicker" ).datepicker({
	    	dateFormat: "yy-mm-dd"
	    });
	  });
  
  window.onload = function() {fillForm();}
  
  function copy() {
	  if (!document.getElementById('same').checked) {
		  document.getElementsByName("billingFirstName")[0].value = "";
		  document.getElementsByName("billingLastName")[0].value = "";
		  document.getElementsByName("billingStreet")[0].value = "";
		  document.getElementsByName("billingHouseNumber")[0].value = "";
		  document.getElementsByName("billingAddressLine2")[0].value = "";
		  document.getElementsByName("billingZipCode")[0].value = "";
		  document.getElementsByName("billingTown")[0].value = "";
	  }
	  else {
		  document.getElementsByName("billingFirstName")[0].value = document.getElementsByName("shippingFirstName")[0].value;
		  document.getElementsByName("billingLastName")[0].value = document.getElementsByName("shippingLastName")[0].value;
		  document.getElementsByName("billingStreet")[0].value = document.getElementsByName("shippingStreet")[0].value;
		  document.getElementsByName("billingHouseNumber")[0].value = document.getElementsByName("shippingHouseNumber")[0].value;
		  document.getElementsByName("billingAddressLine2")[0].value = document.getElementsByName("shippingAddressLine2")[0].value;
		  document.getElementsByName("billingZipCode")[0].value = document.getElementsByName("shippingZipCode")[0].value;
		  document.getElementsByName("billingTown")[0].value = document.getElementsByName("shippingTown")[0].value;
	  }
  }
  function update() {
	  if (document.getElementById('same').checked) {
		  document.getElementsByName("billingFirstName")[0].value = document.getElementsByName("shippingFirstName")[0].value;
		  document.getElementsByName("billingLastName")[0].value = document.getElementsByName("shippingLastName")[0].value;
		  document.getElementsByName("billingStreet")[0].value = document.getElementsByName("shippingStreet")[0].value;
		  document.getElementsByName("billingHouseNumber")[0].value = document.getElementsByName("shippingHouseNumber")[0].value;
		  document.getElementsByName("billingAddressLine2")[0].value = document.getElementsByName("shippingAddressLine2")[0].value;
		  document.getElementsByName("billingZipCode")[0].value = document.getElementsByName("shippingZipCode")[0].value;
		  document.getElementsByName("billingTown")[0].value = document.getElementsByName("shippingTown")[0].value;
	  }
  }
  
  function storeForm(){
  	window.sessionStorage.setItem("shippingFirstName",document.getElementsByName("shippingFirstName")[0].value);
  	window.sessionStorage.setItem("shippingLastName",document.getElementsByName("shippingLastName")[0].value);
  	window.sessionStorage.setItem("shippingStreet",document.getElementsByName("shippingStreet")[0].value);
  	window.sessionStorage.setItem("shippingHouseNumber",document.getElementsByName("shippingHouseNumber")[0].value);
  	window.sessionStorage.setItem("shippingAddressLine2",document.getElementsByName("shippingAddressLine2")[0].value);
  	window.sessionStorage.setItem("shippingZipCode",document.getElementsByName("shippingZipCode")[0].value);
  	window.sessionStorage.setItem("shippingTown",document.getElementsByName("shippingTown")[0].value);
  	window.sessionStorage.setItem("shippingHouseNumber",document.getElementsByName("shippingHouseNumber")[0].value);
  	
  	window.sessionStorage.setItem("billingFirstName",document.getElementsByName("billingFirstName")[0].value);
  	window.sessionStorage.setItem("billingLastName",document.getElementsByName("billingLastName")[0].value);
  	window.sessionStorage.setItem("billingStreet",document.getElementsByName("billingStreet")[0].value);
  	window.sessionStorage.setItem("billingHouseNumber",document.getElementsByName("billingHouseNumber")[0].value);
  	window.sessionStorage.setItem("billingAddressLine2",document.getElementsByName("billingAddressLine2")[0].value);
  	window.sessionStorage.setItem("billingZipCode",document.getElementsByName("billingZipCode")[0].value);
  	window.sessionStorage.setItem("billingTown",document.getElementsByName("billingTown")[0].value);
  
  	window.sessionStorage.setItem("cardAssociationName",document.getElementsByName("cardAssociationName")[0].value);
  	window.sessionStorage.setItem("cardNumber",document.getElementsByName("cardNumber")[0].value);
  	window.sessionStorage.setItem("nameOnCard",document.getElementsByName("nameOnCard")[0].value);
  	window.sessionStorage.setItem("expiryDate",document.getElementsByName("expiryDate")[0].value);
  	window.sessionStorage.setItem("cardVerificationCode",document.getElementsByName("cardVerificationCode")[0].value);
  }
  
  function fillForm(){
	  document.getElementsByName("shippingFirstName")[0].value = window.sessionStorage.getItem("shippingFirstName");
	  document.getElementsByName("shippingLastName")[0].value = window.sessionStorage.getItem("shippingLastName");
	  document.getElementsByName("shippingStreet")[0].value = window.sessionStorage.getItem("shippingStreet");
	  document.getElementsByName("shippingHouseNumber")[0].value = window.sessionStorage.getItem("shippingHouseNumber");
	  document.getElementsByName("shippingAddressLine2")[0].value = window.sessionStorage.getItem("shippingAddressLine2");
	  document.getElementsByName("shippingZipCode")[0].value = window.sessionStorage.getItem("shippingZipCode");
	  document.getElementsByName("shippingTown")[0].value = window.sessionStorage.getItem("shippingTown");
	  document.getElementsByName("shippingHouseNumber")[0].value = window.sessionStorage.getItem("shippingHouseNumber");
	  

	  document.getElementsByName("billingFirstName")[0].value = window.sessionStorage.getItem("billingFirstName");
	  document.getElementsByName("billingLastName")[0].value = window.sessionStorage.getItem("billingLastName");
	  document.getElementsByName("billingStreet")[0].value = window.sessionStorage.getItem("billingStreet");
	  document.getElementsByName("billingHouseNumber")[0].value = window.sessionStorage.getItem("billingHouseNumber");
	  document.getElementsByName("billingAddressLine2")[0].value = window.sessionStorage.getItem("billingAddressLine2");
	  document.getElementsByName("billingZipCode")[0].value = window.sessionStorage.getItem("billingZipCode");
	  document.getElementsByName("billingTown")[0].value = window.sessionStorage.getItem("billingTown");
	  
	  document.getElementsByName("cardAssociationName")[0].value = window.sessionStorage.getItem("cardAssociationName");
	  document.getElementsByName("cardNumber")[0].value = window.sessionStorage.getItem("cardNumber");
	  document.getElementsByName("nameOnCard")[0].value = window.sessionStorage.getItem("nameOnCard");
	  document.getElementsByName("expiryDate")[0].value = window.sessionStorage.getItem("expiryDate");
	  document.getElementsByName("cardVerificationCode")[0].value = window.sessionStorage.getItem("cardVerificationCode");
	  
	  }
  
  </script>

</head>

<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>
		<main>
			
			<div id="mainframe">
				<ul id="registration-error">
					<li th:each="line : ${message1}" th:text="${line.getDefaultMessage()}"></li>
					<li th:each="line : ${message2}" th:text="${line.getDefaultMessage()}"></li>
					<li th:each="line : ${message3}" th:text="${line.getDefaultMessage()}"></li>
				</ul>
				<h1>Versand - und Rechnungsadresse</h1>
				<!-- <form id="billingShippingAddress"> -->
					<fieldset>
						<ol class="radioSelect">
							<li>
								<input type="checkbox" id="same" name="same" value="" onclick="copy()"/><label for="same">Rechnungs- und Lieferadresse sind identisch</label>
							</li>
						</ol>
					</fieldset>
				<!-- </form> -->
				<form id="orderData" method="post" action="/payed" th:switch="${option}" onsubmit="storeForm()">
					<div>
					<fieldset class="orderDataGroup">
						<h2>Versandadresse:</h2>
						<ol id="shippingData" class="paymentData">
							<li>
								<label for="shippingGender">Anrede:</label>
								<select name="shippingGender" onchange="update()">
									<option value="Herr">Herr</option>
									<option value="Frau">Frau</option>
								</select>
							</li>
							<li>
								<label for="shippingFirstName">Vorname:</label>
								<input type="text" name="shippingFirstName" onchange="update()"/>
							</li>
							<li>
								<label for="shippingLastNamer">Nachname:</label>
								<input type="text" name="shippingLastName" onchange="update()"/>
							</li>
							<li>
								<label for="shippingStreet">Straße:</label>
								<input type="text" name="shippingStreet" onchange="update()"/>
							</li>
							<li>
								<label for="shippingHouseNumber">Hausnummer:</label>
								<input type="text" name="shippingHouseNumber" onchange="update()"/>
							</li>
							<li>
								<label for="shippingAddressLine2">Adresszusatz:</label>
								<input type="text" name="shippingAddressLine2" onchange="update()"/>
							</li>
							<li>
								<label for="shippingZipCode">Postleitzahl:</label>
								<input type="text" name="shippingZipCode" onchange="update()"/>
							</li>
							<li>
								<label for="shippingTown">Stadt:</label>
								<input type="text" name="shippingTown" onchange="update()"/>
							</li>
						</ol>
					</fieldset>
					<fieldset>
						<h2>Rechnungsadresse:</h2>
						<ol id="billingData" class="paymentData">
							<li>
								<label for="billingGender">Anrede:</label>
								<select name="billingGender">
									<option value="Herr">Herr</option>
									<option value="Frau">Frau</option>
								</select>
							</li>
							<li>
								<label for="billingFirstName">Vorname:</label>
								<input type="text" name="billingFirstName"/>
							</li>
							<li>
								<label for="billingLastNamer">Nachname:</label>
								<input type="text" name="billingLastName"/>
							</li>
							<li>
								<label for="billingStreet">Straße:</label>
								<input type="text" name="billingStreet"/>
							</li>
							<li>
								<label for="billingHouseNumber">Hausnummer:</label>
								<input type="text" name="billingHouseNumber"/>
							</li>
							<li>
								<label for="billingAddressLine2">Adresszusatz:</label>
								<input type="text" name="billingAddressLine2"/>
							</li>
							<li>
								<label for="billingZipCode">Postleitzahl:</label>
								<input type="text" name="billingZipCode"/>
							</li>
							<li>
								<label for="billingTown">Stadt:</label>
								<input type="text" name="billingTown"/>
							</li>
						</ol>
					</fieldset>
					</div>
					<h1>Zahlungsmethode:</h1>
					<fieldset>
						<ol class="radioSelect" >
							<li>
								<input type="radio" id="debitcard" name="paymethod" value="" onclick="self.location.href = this.getAttribute('href');" href="/orderdata/1" th:checked="${option == 1}"/><label for="debitcard">EC-Karte</label>
							</li>
							<li>
								<input type="radio" id="creditcard" name="paymethod" value="" onclick="self.location.href = this.getAttribute('href');" href="/orderdata/2"th:checked="${option == 2}"/><label for="creditcard">Kreditkarte</label>
							</li>
						</ol>
					</fieldset>
					<fieldset th:case="1">
						<ol id="debitcard_data" class="paymentData">
							<li>
								<label for="cardName">Kartentyp:</label>
								<select name="cardName">
									<option value="Ec-Karte">EC-Karte</option>
									<option value="MaestroCard">MaestroCard</option>
								</select>
							</li>
							<li>
								<label for="cardAssociationName">Kreditinstitut:</label>
								<input type="text" name="cardAssociationName"/>
							</li>
							<li>
								<label for="cardNumber">Kartennummer:</label>
								<input type="text" name="cardNumber"/>
							</li>
							<li>
								<label for="nameOnCard">Name auf der Karte:</label>
								<input type="text" name="nameOnCard"/>
							</li>
							<li>
								<label for="expiryDate">Läuft ab am (YYYY-MM-DD):</label>
								<input id="datepicker" type="text" name="expiryDate"/>
							</li>
							<li>
								<label for="cardVerificationCode">Verifizierungscode:</label>
								<input type="text" name="cardVerificationCode"/>
							</li>
						</ol>
					</fieldset>
					<fieldset th:case="2">
						<ol id="creditcard_data" class="paymentData">
							<li>
								<label for="cardName">Kartentyp:</label>
								<select name="cardName">
									<option value="MasterCard">MasterCard</option>
									<option value="VISA">VISA</option>
								</select>
							</li>
							<li>
								<label for="cardAssociationName">Kreditinstitut:</label>
								<input type="text" name="cardAssociationName"/>
							</li>
							<li>
								<label for="cardNumber">Kartennummer:</label>
								<input type="text" name="cardNumber"/>
							</li>
							<li>
								<label for="nameOnCard">Name auf der Karte:</label>
								<input type="text" name="nameOnCard"/>
							</li>
							<li>
								<label for="expiryDate">Läuft ab am (YYYY-MM-DD):</label>
								<input id="datepicker" type="text" name="expiryDate"/>
							</li>
							<li>
								<label for="cardVerificationCode">Verifizierungscode:</label>
								<input type="text" name="cardVerificationCode"/>
							</li>
						</ol>
					</fieldset>
					<fieldset form="orderData">
						<input type="submit" value="Waren kostenpflichtig bestellen"/>
					</fieldset>
				</form>
			</div>
		</main>
		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>

