<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <script src="/resources/script/jquery-1.11.2.min.js" type="text/javascript"></script>
  <script src="/resources/script/bootstrap.min.js" type="text/javascript"></script>
  <link href="/resources/css/main.css" rel="stylesheet" type=text/css>
  <link href="/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="http://use.edgefonts.net/clara:n4:default.js" type="text/javascript"></script>

</head>

<body>
	<div id="wrapper">
		<div id="header" th:include="navigation :: navigation"></div>
		<main>
		<div id="main-wrapper">
			<h1>Anmeldung</h1>
		    <form th:action="@{/login}" method="post">
	            <label for="username">Username</label>:
	            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
	            <label for="password">Password</label>:
	            <input type="password" id="password" name="password" /> <br />
	            <input type="submit" value="Log in" />
	        </form>
	        		    <form th:action="@{/NewPass}" method="post">
	            <label for="password">Password</label>:
	            <input type="password" id="password" name="password" /> <br />
	            <input type="submit" value="change pass" />
	        </form>
<!--  		<form>
				<input type="text" value="Benutzername"> <input type="text"
					value="Passwort"> <input type="button"
					value="Anmelden &gt;">
			</form>
			<br />
			<form>
				<input type="button" value="Passwort vergessen?"> <input
					type="button" value="Jetzt registrieren">
			</form>-->	
		</div>

		</main>

		<br>
		<div id="footer" th:include="footer :: footer"></div>
	</div>
</body>
</html>
