<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
<title th:text="Registrierung">Registrierung</title>
</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="Registrierung"></h1>
			<p class="warning" th:text="${message}"></p>
		</header>
		<div class="content">
			<div class="salespoint">
				<h2>Registrierung</h2>
				<form method="post" th:action="@{/registerNew}">
					<fieldset>

						<legend>
							<span>Kontaktdetails</span>
						</legend>
						<ol>
							<li><label for="name">Benutzername:</label> <input
								type="text" id="name" name="name" value="" required /></li>
							<li><label for="email">E-Mail Adresse:</label> <input
								type="text" id="email" name="email" value="" /></li>
						</ol>
					</fieldset>
					<fieldset>
						<legend>
							<span>Login Daten</span>
						</legend>
						<ol>
							<li><label for="login-password">Passwort:</label> <input type="password" id="password" name="password" value="" required />
							</li>
							<li><label for="login-passwordrepeat">Passwort wiederholen:</label> <input type="password" id="passwordrepeat" name="passwordrepeat" value="" required /></li>
						</ol>
					</fieldset>
					<fieldset>
						<legend>
							<span>Klarname</span>
						</legend>
						<ol>
							<li><label for="firstname">Vorname:</label> <input
								type="text" id="firstname" name="firstname" value="" /></li>
							<li><label for="lastname">Nachname:</label> <input
								type="text" id="lastname" name="lastname" value="" /></li>
						</ol>
					</fieldset>

					<fieldset>
						<legend>
							<span>Adresse</span>
						</legend>
						<ol>
							<li><label for="address">Adresszeile 1:</label> <input type="text" id="address" name="address" value="" /></li>
							<li><label for="city">Stadt:</label> <input type="text" id="city" name="city" value="" /></li>
							<li><label for="zipCode">Postleitzahl:</label> <input type="text" id="zipCode" name="zipCode" value="" /></li>
						</ol>
					</fieldset>
					<fieldset class="submit">
						<input type="submit" value="Registrieren" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>